* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

.img-yoga {
    display: block;
    margin: 195px auto 122px auto;
}

input {
    width: 321px;
    height: 46px;
    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    border: none;
}

input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #969696;
    padding-left: 19px;
}

.input-password {
    margin-top: 19px;
}

.link-forgot {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
    display: block;
    text-align: right;
    margin: 35px 30px 38px 0;
}

button {
    background: #323232;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
    border-radius: 10px;
    margin: 38px auto 21px auto;
    width: 133px;
    height: 46px;
    display: block;
    border: none;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.sign-up {
    color: #969696;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: block;
    text-align: center;
}

strong {
    color: #000000;
}

p {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    display: block;
    margin: 62px auto 18px auto;
    width: 128px;
    height: 29px;
}

.social-links {
    text-align: center;
    margin-bottom: 80px;
}

.img-link {
    margin: 0 16px;
}


